name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --dev
    - name: Lint with black
      run: |
        pipenv run black --check .
    - name: Lint with ruff
      run: |
        pipenv run ruff check --exit-zero .
    - name: Type check with mypy
      run: |
         pipenv run mypy -p chat
        

